@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --color-one: #587850;
    --color-two: #f8d0b0;
    --color-three: #709078;
    --color-four: #3f7767;
}

#root {
    font-family: 'Cousine', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-image: linear-gradient(var(--color-one), var(--color-four));
 
    color: var(--color-two);
}

#input-text {
    font-family: 'Cousine', monospace;
    color: var(--color-two);
    background-color: var(--color-three);
    width: 45vw;
    max-width: 700px;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}

#submit-button {
    font-family: 'Cousine', monospace;
    color: var(--color-two);
    background-color: var(--color-four);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.button-delete {
    font-family: 'Cousine', monospace;
    color: var(--color-two);
    background-color: var(--color-four);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}